<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Asap&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/navbar.css'%}">

<body>

  <div class="nav">
    <div class="w3-bar " style="height: 150px;">
      <a href="#" class="w3-bar-item btn" id="logo"><i>@Art-Gallery</i></a>
      <div id="nav_down" style="margin-top: 50px;"></div>

      <a href="#" class="w3-bar-item btn" id="item">Link 1</a>
      <div class="w3-dropdown-hover">
        <button class="btn" id="item">Category</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4" id="card-down">
          <a href="#" class="w3-bar-item  btn " id="item">Link 1</a>
          <a href="#" class="w3-bar-item  btn " id="item">Link 2</a>
          <a href="#" class="w3-bar-item btn " id="item">Link 3</a>
        </div>
      </div>

      <div class="w3-dropdown-hover">
          <button class="btn" id="item">Category</button>
          <div class="w3-dropdown-content w3-bar-block w3-card-4" id="card-down">
            <a href="#" class="w3-bar-item  btn " id="item">Link </a>
            <a href="#" class="w3-bar-item  btn " id="item">Link </a>
            <a href="#" class="w3-bar-item btn " id="item">Link </a>
          </div>
        </div>

    </div>
  </div>
  </div>

</body>

</html>